    /* CSS - projet WEB IMAC2019-2020 */
          /* TOUKLAKOS RECORDS */
/* Par Benjamin Briere et Esther Gartner */


html {
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

input:focus{
  outline: none;
}

      /* MENU */

#menu{
  width: 100vw;
  height: 10vh;
  background-color: white;
  border-bottom: solid 2px rgb(250, 0, 0);
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  z-index: 100;
  color: black;
}

#logoMenu{
  display: none;
}

.titleMenu{
  margin: auto;
  text-decoration: none;
  color: black;
}

  .titleMenu:visited{
    color: black;
  }

  .titleMenu img{
    max-height: 15vh;
    width: auto;
    margin-top: 0vh;
  }

.arrow{
  position: absolute;
  bottom: 50px;
  margin-left: 46.5vw;
  border: solid white;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 3vw;
  animation: bounce infinite 1.5s ease-out;
}

#logojour{
  margin-left: 4vw;
}

#logonuit{
  margin-left: 4vw;
  display: none;
}

#logolabel{
  margin: auto;
  width: 200px;
  height: 200px;
}

#accueil{
  width: 100vw;
  height: 100vh;
    background: url(images/home.gif) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

#histoire{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

#event{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

#artistes{
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}

#catalogue{
  width: 100vw;
  min-height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

      /* SECTIONS */

.section{
  display: flex;
}

.content{
  width: 90vw;
  min-height: 90vh;
  margin : 5vh auto 5vh auto;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
}

  .content h2{
    margin: auto;
  }

      /* EVENTS */

.event-gauche{
  margin-top: 5vh;
  width: 100%;
  height: auto;
  display: flex;
}

  .event-gauche img{
    width: 45vw;
    height: inherit;
    margin: auto;
  }

.event-descriptif{
  width: 45vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.event-gauche-titre{
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 3vw;
  margin-left: 25%;
}

.event-gauche-date{
  font-size: 2.5vw;
  margin-top: -2vh;
  margin-left: 40%;
  color: rgb(45, 45, 45);
}

.event-droite{
  margin-top: 5vh;
  width: 100%;
  height: auto;
  display: flex;
}

  .event-droite img{
    width: 45vw;
    height: inherit;
    margin: auto;
  }

.event-droite-descriptif{
  font-size: 1.5vw;
  margin: auto;
  color: rgb(59, 59, 59);
}

.event-droite-titre{
  text-transform: uppercase;
  margin-top: 0px;
  font-size: 3vw;
  margin-left: 15%;
}

.event-droite-date{
  font-size: 2.5vw;
  margin-top: -2vh;
  margin-left: 35%;
  color: rgb(45, 45, 45);
}

.event-gauche-descriptif{
  font-size: 1.5vw;
  margin: auto;
  color: rgb(59, 59, 59);
}

        /* ARTISTS */

#artistes{
  display: flex;
  flex-direction: column;
}

.row-artist{
  width: 90vw;
  min-height: 20vh;
  margin: auto;
  display: flex;
}

.artiste{
  width : 25vw;
  border-radius: 25px;
  background-color: white;
  min-height : 15vh;
  margin-top: 5vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 5px 5px rgba(30, 30, 30, 0.72);
  display: flex;
  flex-direction: column;
}

.artiste-img{
  margin-top: 15px;
  margin-bottom:15px;
  margin-left: auto;
  margin-right: auto;
  width: 18vw;
  height: 18vw;
  overflow: hidden;
  background-color: red;
  border-radius: 50%;
}

  .artiste-img img{
    width: auto;
    height: 100%;
  }

.artiste-nom{
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: bold;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.artiste-genre{
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.2vw;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  padding-left: 1vw;
  padding-right: 1vw;
}

.artiste-bio{
  font-size: 1.4vw;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding-left: 1vw;
  padding-right: 1vw;
}


.transition2{
  width: 100vw;
  height: 100vh;
  background: url(images/wallpaper_2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.transition3{
  width: 100vw;
  height: 100vh;
  background: url(images/wallpaper_3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.transition4{
  width: 100vw;
  height: 100vh;
  background: url(images/wallpaper_4.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.transition5{
  width: 100vw;
  height: 100vh;
  background: url(images/wallpaper_5.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

      /* FOOTER */

#footer{
  border-top: 2px solid rgb(250,0, 0);
  min-width: 10vh;
  display: flex;
}

  #footer p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

/* ANIMATION */
@keyframes bounce {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50%{
    transform: translateY(-25px) rotate(45deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}

      /* CATALOG + GESTION JS */

#catalogue .content h2{
  margin-top: 0px;
  margin-bottom: 25px;
}

#catalogue .content {
min-height: 20vh;
}

#tracks{
  display: flex;
  flex-direction: column;
}


.album{
   margin-left: auto;
   margin-right: auto;
   margin-top: 50px;
   width: 90vw;
   display: flex;
   animation: translate 0.6s ease-out;
 }

 .albumCover{
   width: 300px;
   height: 300px;
   background-image: no-repeat url(images/touklakos.png) center/100%;
 }

.albumTitle{
  flex-direction: column;
  margin-top: auto;
  margin-left: 25px;
  margin-bottom: auto;
  font-family: "Montserrat";
  text-align: center;
  font-size: 2vw;
}

.tracksPreview{
  margin-top: auto;
  margin-bottom: auto;
  float: right;
  margin-left: 50px;
}

#search{
  width: 80vw;
  margin: auto;
  display: flex;
}
#artistSearch{
  background-color: none;
  margin: auto;
  border: solid rgb(189, 189, 189) 2px;
  border-radius: 25px;
  padding-left: 10px;
  height: 5vh;
  width: 80%;
  font-family: "Montserrat";
  font-size: 1.5vw;
}

#buttonSearch{
  background-color: none;
  margin: auto;
  border: solid rgba(182, 134, 2, 0.01) 1px;
  background-color: rgb(250, 0, 0);
  color: white;
  border-radius: 50px;
  height: 5vh;
  width: 15%;
  font-family: "Montserrat";
  font-size: 1.5vw;
}

  #buttonSearch:active {
  	transform:translateY(2px);
    background-color: rgb(180,0,0);
  }

/* ANIMATIONS */

@keyframes pop {
  From{
    transform: scale(0);
  }
  To{
    transform: scale(1);
  }
}

@keyframes translate {
  From{
    transform: translateX(-100vw);
  }
  To{
    transform: translateX(0);
  }
}

      /* MODE NUIT */

#rond{
  background-color: white;
	border : solid 4px rgb(50,50,50);
	border-radius: 50%;
	box-sizing: border-box;
	width:25px;
	height: 25px;
}

#coche{
	width: 50px;
	height: 25px;
	background-color: rgb(50,50,50);
	top: 80px;
	border-radius: 50px;
  position: fixed;
  right: 20px;
  z-index: 1;
}

.nuit #rond{
  background-color: rgb(50,50,50);
	border : solid 4px white;
	border-radius: 50%;
	box-sizing: border-box;
	width:25px;
	height: 25px;
  margin-left: 25px;
}

.nuit #coche
{
	width: 50px;
	height: 25px;
	background-color: white ;
	top: 80px;
	border-radius: 50px;
  position: fixed;
  right: 20px;
  z-index: 1;
}

.nuit a, .nuit h2, .nuit p, .nuit #artistes{
  color: white !important;
}

.nuit .artiste{
  background-color: rgb(50, 50, 50) !important;
}

.nuit #logojour{
  display: none;
}

.nuit #logonuit{
  display: inherit;
}

.nuit #menu, .nuit #footer{
  background-color: rgb(43, 43, 43);
  color: white;
}

.nuit #histoire, .nuit #event, .nuit #artistes, .nuit #catalogue{
  background-color: rgb(43, 43, 43);
}

.nuit .albumTitle {
  color: white;
}

.nuit #menu-mobile{
  background-color: rgb(43, 43, 43);
}

.nuit #nav-mobile{
  background-color: rgb(43, 43, 43);
  border-color: white;
}

.nuit #nav-mobile #menuToggle span{
  background: white;
}

#nav-mobile{
  display: none;
}

      /* RESPONSIVE */

@media(max-width:480px)
{
  #menu{
  display: none;
  }

  /* Menu mobile */

  #nav-mobile {
    display: inherit;
    background-color: white;
    height: 65px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    border-bottom: solid 2px black;
    z-index : 1000;
  }

  #nav-mobile #logojour{
    height: 55px;
    width: auto;
    position: fixed;
    top: 5px;
    left : 80% !important;
    margin: 0px;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }

  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu-mobile
  {
    position: absolute;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    overflow-y: scroll;
    list-style-type: none;
  }

  #menu-mobile li
  {
    padding: 10px 0;
    transition-delay: 2s;
    text-decoration: none;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  #menu-mobile #coche{
    position: relative;
    top: 0px;
    right: 0px;
  }

  #menu-mobile a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }

  #menu-mobile a:hover {
    opacity:0.5;
  }

  #menu-mobile ul {
    padding: 0;
    list-style-type: none;
  }

  h2{
    font-size: 220%;
  }

  p{
    font-size: 140%;
    text-align: justify;
  }

  /* Events */
  .event-gauche, .event-droite{
    margin-bottom: 50px;
  }

  .event-gauche-titre, .event-droite-titre{
    font-size: 6vw;
  }

  .event-gauche-descriptif, .event-droite-descriptif{
    font-size: 4vw;
    text-align: center;
  }

  .event-gauche-date, .event-droite-date{
    font-size: 4vw;
    text-align: center;
    margin-right: 50px;
  }

  .event-descriptif img{
    min-width: 100vw;
  }

  /* Artists */
  .row-artist{
    width: 90vw;
    flex-direction: column;
    min-height: 260vh;
  }

  .artiste{
    width: 70vw;
    min-height: 70vh;
  }

  .artiste-img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom:5px;
  }

  .artiste-nom{
    font-size: 5vw;
  }

  .artiste-genre{
    font-size: 3vw;
    margin-bottom: 50px;
  }

  .artiste-bio{
    font-size: 4vw;
  }

  /* Catalog */
  audio{
    margin-right: 50px;
  }

  #artistSearch{
    font-size: 5vw;
  }

  #buttonSearch{
    font-size: 3vw;
  }

  .album{
    flex-direction: column;
    align-items: center;
  }

  .albumTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 5vw;
  }

}
